@charset "utf-8";
@import '../../public/css/_mixin.scss';
@import '../../public/css/_app_popup.scss';

// 老师习惯
page{
  height: 100%;
}
.container{
  min-height: 100%;
  padding-right:38rpx;
  margin-left: 34rpx;
  border-left: 4rpx solid #1dcca1;
}

.timeline-section{
  padding-top: 24rpx;
  .timeline-title{
    height: 50rpx;
    line-height:50rpx;
    font-size: 28rpx;
    color: #999;
    padding-left:20rpx;
    position: relative;
    &:before{
      content: '';
      $w: 15rpx;
      $b-w: 3rpx;
      width: $w;
      height: $w;
      border-radius: 50%;
      border: $b-w solid #1dcca1;
      background-color: #fff;
      position: absolute;
      top:50%;
      left:0;
      margin-top: -($w + $b-w)/2;
      margin-left: -($w + $b-w + 2)/2;
      display: block;
    }
  }
  .timeline-main{
    border:1rpx solid #1dcca1;
    margin: 12rpx 0 24rpx 14rpx;
    background-color: #fff;
    &-title{
      height: 85rpx;
      border-bottom: 1rpx solid #ccc;
      padding-right:85rpx;
      position: relative;
      display: flex;
      align-items: center;
      .icon{
        $w: 40rpx;
        width: 40rpx;
        height: 40rpx;
        margin-left: 20rpx;
      }
      .title{
        margin-left:10rpx;
      }
      .tag{
        width: 85rpx;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &.done{
          background-color: #1dcca1;
        }
        &.not{
          background-color: #f56857;
        }
      }
    }
  }
  .timeline-unfinish{
    padding:5rpx 20rpx;
    .bb{
      border-bottom: 1rpx solid #eee;
    }
    .unfinish-list{
      display: flex;
      flex-wrap: wrap;
    }
    .unfinish-item{
      height: 40rpx;
      display: flex;
      align-items: center;
      .icon{
        $w: 40rpx;
        width: 40rpx;
        height: 40rpx;
        margin-right: 10rpx;
      }
      .text{
        margin-right:20rpx;
        font-size: 20rpx;
        color: #666;
      }
      .icon-msg{
        width: 25rpx;
        height:24rpx;
      }
    }
  }
}


// 家长习惯
.time-line{
  line-height: 36rpx;
  background-color: #ccc;
  font-size:18rpx;
  color: #f56857;
  text-align: center;
}
.situation-total{
  height: 170rpx;
  position: relative;
  .bg{
    width: 100%;
    height: 170rpx;
    display: block;
  }
  .text{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .p{
      line-height: 46rpx;
      color: #fff;
      .strong{
        color: #f56857;
        font-size: 36rpx;
        font-weight: bold;
      }
    }
  }
}
.situation-section{
  background-color: #fff;
  padding:20rpx 25rpx;
  position: relative;
  &.bb-green{
    border-bottom:10rpx solid #1dcca1;
  }
  &.bb-grey{
    border-bottom:10rpx solid #ccc;
  }
  &.bb-red{
    border-bottom:10rpx solid #f56857;
  }
  .status-btn{
    position:absolute;
    top: 20rpx;
    right: 25rpx;
  }
  .title{
    height: 44rpx;
    font-size: 32rpx;
    display: flex;
    align-items: center;
    padding-right:100rpx;
    margin-bottom:15rpx;
    @include ellipsis();
    .icon{
      width: 38rpx;
      height: 38rpx;
      margin-left:10rpx;
    }
  }
  .content{
    display: flex;
    .l{
      padding-top:6rpx;
      flex: 1;
    }
    .btn{
      margin-left:30rpx;
    }
    .num{
      font-size: 36rpx;
      font-weight: bold;
      color: #f56857;
    }
    .unit{
      font-size: 18rpx;
      color: #999;
    }
  }
  .p{
    line-height: 25rpx;
    font-size: 20rpx;
    color: #999;
  }
}
