@charset "utf-8";
@import '../../public/css/_mixin.scss';

.time-line{
  line-height: 36rpx;
  background-color: #ccc;
  font-size:18rpx;
  color: #f56857;
  text-align: center;
}
.situation-total{
  height: 170rpx;
  position: relative;
  .bg{
    width: 100%;
    height: 170rpx;
    display: block;
  }
  .text{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .p{
      line-height: 46rpx;
      color: #fff;
      .strong{
        color: #f56857;
        font-size: 36rpx;
        font-weight: bold;
      }
    }
  }
}
.situation-section{
  background-color: #fff;
  padding:20rpx 25rpx;
  position: relative;
  &.bb-green{
    border-bottom:10rpx solid #1dcca1;
  }
  &.bb-grey{
    border-bottom:10rpx solid #ccc;
  }
  &.bb-red{
    border-bottom:10rpx solid #f56857;
  }
  .status-btn{
    position:absolute;
    top: 20rpx;
    right: 25rpx;
  }
  .title{
    height: 44rpx;
    font-size: 32rpx;
    display: flex;
    align-items: center;
    padding-right:100rpx;
    margin-bottom:15rpx;
    @include ellipsis();
    .icon{
      width: 38rpx;
      height: 38rpx;
      margin-left:10rpx;
    }
  }
  .content{
    display: flex;
    .l{
      padding-top:6rpx;
      flex: 1;
    }
    .btn{
      margin-left:30rpx;
    }
    .num{
      font-size: 36rpx;
      font-weight: bold;
      color: #f56857;
    }
    .unit{
      font-size: 18rpx;
      color: #999;
    }
  }
  .p{
    line-height: 25rpx;
    font-size: 20rpx;
    color: #999;
  }
}
