@charset "utf-8";
@import '../../public/css/_mixin.scss';
@import '../../public/css/_input_label.scss';

.container{
  padding: 0 25rpx 50rpx;
}

.family-img{
  width: 100%;
  height: 426rpx;
  padding-top:52rpx;
  display: block;
}
.teacher-img{
  width: 100%;
  height: 593rpx;
  display: block;
}


.hint{
  line-height: 30rpx;
  margin-top:30rpx;
  font-size: 24rpx;
  color: #666;
  .active{
    color: #7ba8bf;
  }
}
